body{
    text-align: center;
    font-family: Product Sans, sans-serif;
    background: #1C1B1F;
    background-size: cover;
}

*{
    scroll-behavior: smooth;
}

/* Custom Scrollbar */

/* ===== Scrollbar CSS ===== */

  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #5f422c #1C1B1F;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #1C1B1F;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #5f422c;
    border-radius: 10px;
    border: 3px none #ffffff;
  }

/* Text */

.title{
    margin-top: 100px;
    color: #fff;
    font-size: 60px;
}

.link{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}

.link:hover{
    color: #5F422C;
}

.img{
    width: 450px;
}

/* Dev by link */
p.made-by{
    color: #fff;
    margin-top: 25px;
    font-family: DM Sans, sans-serif;
}

a.made-by{
    color: #fff;
    font-family: DM Sans, sans-serif;
}

a.made-by:hover{
    text-decoration: none;
}

/* Back to top link (Bottom of the page */
.top-link{
    color: #fff;
    text-decoration: none;

}

.top-link:hover{
    text-decoration: underline;
}

/* Back to top button */

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background: #505050; /* Background color */
    color: #fff;
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 22px;
    padding: 15px 20px; /* Some padding */
    font-size: 25px; /* Increase font size */
    transition: background .2s;
}
  
  #myBtn:hover {
    background: #5F422C;
  }


.warning{
  color: #991212;
  font-size: 15px;
  margin-bottom: 10px;
}

video{
    border-radius: 25px;
    padding: 15px;
    position: relative;
    z-index: 1;
    height: auto;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {

    #myBtn{
        margin-bottom: 100px;
    }

}